<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TravelExpertsDB.Properties.Settings.TravelExpertsConnectionString"
            connectionString="Data Source=oosd.database.windows.net;Initial Catalog=TravelExperts;Persist Security Info=True;User ID=ethan;Password=Travel2$19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>