<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Travel_Experts_Services_WPF.Properties.Settings.MMABooksConnectionString"
            connectionString="Data Source=ELF8OOSD197837\SQLEXPRESS;Initial Catalog=MMABooks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Travel_Experts_Services_WPF.Properties.Settings.MMABooksConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\538003\source\repos\DatabaseExample2\DatabaseExample2\MMABooks.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>