body {
    background-color: #222629; /*url("../Images/light-1282314_1920.jpg");*/
}
a, p, h1, h2, h3, h4, h5, h6 {
    color: #86C232 !important;
    font-family: 'Aleo', serif;
}
/* unvisited link */
a:link {
        color: #86C232;
}
/* mouse over link */
a:hover {
    color: #b4d877 !important;
}

/* selected link */
a:active {
    color: blue;
}
ul {
    justify-content: flex-end;   
}
#logo {
    height: 50px !important; width: 50% !important;
}
.regFields {
    color: white !important;
}

